@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Stardos+Stencil&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Stardos Stencil', cursive; */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

.title {
  font-family: 'Stardos Stencil', cursive;
}
.sub-title {
  font-family: 'Great Vibes', cursive;
}

.wrapper {
  padding: 10px 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HOME */

.home {
  background-image: url(../public/img/img03.jpg);
  height: 75vh;
  background-size: cover;
  background-position: center;

}

/* FOOTER */

.footer {
 
}

/* ALL ELEMENTS */
#__next {
  
  
}