@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Stardos+Stencil&display=swap');

@font-face {
  font-family: "Castelar";
  src: url("../public/fonts/castellar/CASTELAR.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Garamond";
  src: url("../public/fonts/garamond/Garamond.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


/* font-family: 'Great Vibes', cursive;
font-family: 'Stardos Stencil', cursive; */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

.color-blue {
  color: #001e62
}

.background-color-blue {
  background-color: #001e62;
}

.title {
  /* font-family: 'Stardos Stencil', cursive; */
  font-family: "Castelar";
}
.sub-title {
  font-family: 'Great Vibes', cursive;
}

.wrapper {
  padding: 10px 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HOME */



.home {
  /* Prendre 100% de l'espace du main */
  height: 100%;
  background-image: url(../public/img/img-resize.avif);
  background-size: cover;
  background-position: center;
}

/* FOOTER */

.footer {
  font-family: "Garamond";

}

/* ALL ELEMENTS */
#__next {
  /* affichage sur 100% de l'espace de l'écran */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  
}